server:
  port: 8081

spring:
  application:
    name: stock-corp
  config:
    import: "optional:file:.env[.properties]"
  
  # DB Migration
  flyway:
    enabled: true
    locations: classpath:db/migration
  
  # JPA
  jpa:
    open-in-view: false
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect

  # Batch
  batch:
    job:
      enabled: false
    jdbc:
      initialize-schema: always

data-go:
  service-key: ${DATA_GO_SERVICE_KEY}

---
spring:
  config:
    activate:
      on-profile: local
  cloud:
    config:
      enabled: false

  # Datasource
  datasource:
    url: jdbc:mysql://localhost:3306/stock_corp?serverTimezone=Asia/Seoul&characterEncoding=UTF-8
    username: corp_user
    password: corp_pass
    batch:
      url: jdbc:mysql://localhost:3309/stock_batch?serverTimezone=Asia/Seoul&characterEncoding=UTF-8
      username: batch_user
      password: batch_pass

eureka:
  client:
    enabled: false

---
spring:
  config:
    activate:
      on-profile: prod

  # Datasource
  datasource:
    url: ${STOCK_CORP_DB_URL:jdbc:mysql://localhost:3306/stock_corp?serverTimezone=Asia/Seoul&characterEncoding=UTF-8}
    username: ${CORP_DB_USER:corp_user}
    password: ${CORP_DB_PASSWORD:corp_pass}
    batch:
      url: ${STOCK_BATCH_DB_URL:jdbc:mysql://localhost:3309/stock_batch?serverTimezone=Asia/Seoul&characterEncoding=UTF-8}
      username: ${BATCH_DB_USER:batch_user}
      password: ${BATCH_DB_PASSWORD:batch_pass}

eureka:
  client:
    enabled: true
    service-url:
      defaultZone: http://${EUREKA_USER:admin}:${EUREKA_PASSWORD:1234}@stock-discovery:8761/eureka