server:
  port: 8083

spring:
  application:
    name: stock-price
  config:
    import: "optional:file:.env[.properties]"
  
  # DB Migration
  flyway:
    enabled: true
    locations: classpath:db/migration
  
  # JPA
  jpa:
    open-in-view: false
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect

  # Batch
  batch:
    job:
      enabled: false
    jdbc:
      initialize-schema: always

data-go:
  service-key: ${DATA_GO_SERVICE_KEY}

management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      show-details: always

---
spring:
  config:
    activate:
      on-profile: local
  cloud:
    config:
      enabled: false

  # Datasource
  datasource:
    url: jdbc:mysql://localhost:3308/stock_price?serverTimezone=Asia/Seoul&characterEncoding=UTF-8
    username: price_user
    password: price_pass
    batch:
      url: jdbc:mysql://localhost:3309/stock_batch?serverTimezone=Asia/Seoul&characterEncoding=UTF-8
      username: batch_user
      password: batch_pass

eureka:
  client:
    enabled: false

---
spring:
  config:
    activate:
      on-profile: prod

  # Datasource
  datasource:
    url: ${STOCK_PRICE_DB_URL:jdbc:mysql://localhost:3308/stock_price?serverTimezone=Asia/Seoul&characterEncoding=UTF-8}
    username: ${PRICE_DB_USER:price_user}
    password: ${PRICE_DB_PASSWORD:price_pass}
    batch:
      url: ${STOCK_BATCH_DB_URL:jdbc:mysql://localhost:3309/stock_batch?serverTimezone=Asia/Seoul&characterEncoding=UTF-8}
      username: ${BATCH_DB_USER:batch_user}
      password: ${BATCH_DB_PASSWORD:batch_pass}

eureka:
  client:
    enabled: true
    service-url:
      defaultZone: http://${EUREKA_USER:admin}:${EUREKA_PASSWORD:1234}@stock-discovery:8761/eureka