server:
  port: 8082

spring:
  application:
    name: stock-finance
  config:
    import: "optional:configserver:${CONFIG_SERVER_URL:http://localhost:8888},optional:file:.env[.properties]"
  profiles:
    active: local
  datasource:
    url: ${STOCK_FINANCE_DB_URL:jdbc:mysql://localhost:3307/stock_finance?serverTimezone=Asia/Seoul&characterEncoding=UTF-8}
    username: ${FINANCE_DB_USER:finance_user}
    password: ${FINANCE_DB_PASSWORD:finance_pass}
    batch:
      url: ${STOCK_BATCH_DB_URL:jdbc:mysql://localhost:3309/stock_batch?serverTimezone=Asia/Seoul&characterEncoding=UTF-8}
      username: ${BATCH_DB_USER:batch_user}
      password: ${BATCH_DB_PASSWORD:batch_pass}
  jpa:
    hibernate:
      ddl-auto: validate
  batch:
    job:
      enabled: false
    jdbc:
      initialize-schema: always

eureka:
  client:
    service-url:
      defaultZone: ${EUREKA_URL:http://${EUREKA_USER:admin}:${EUREKA_PASSWORD:1234}@localhost:8761/eureka}

dart:
  api-key: ${DART_API_KEY}

data-go:
  service-key: ${DATA_GO_SERVICE_KEY}

---
spring:
  config:
    activate:
      on-profile: local
  cloud:
    config:
      enabled: false
  datasource:
    url: jdbc:mysql://localhost:3307/stock_finance?serverTimezone=Asia/Seoul&characterEncoding=UTF-8
    username: ${FINANCE_DB_USER:finance_user}
    password: ${FINANCE_DB_PASSWORD:finance_pass}
    batch:
      url: jdbc:mysql://localhost:3309/stock_batch?serverTimezone=Asia/Seoul&characterEncoding=UTF-8
      username: ${BATCH_DB_USER:batch_user}
      password: ${BATCH_DB_PASSWORD:batch_pass}
eureka:
  client:
    enabled: false