server:
  port: 8082

spring:
  application:
    name: stock-finance
  profiles:
    active: local
  datasource:
    url: ${MYSQL_URL:jdbc:mysql://localhost:3307/stock_finance?serverTimezone=Asia/Seoul&characterEncoding=UTF-8}
    username: ${MYSQL_USER:user}
    password: ${MYSQL_PASSWORD:password}
  jpa:
    hibernate:
      ddl-auto: validate

eureka:
  client:
    service-url:
      defaultZone: ${EUREKA_URL:http://localhost:8761/eureka}

dart:
  api-key: ${DART_API_KEY}