server:
  port: 8082

spring:
  application:
    name: stock-finance
  config:
    import: "optional:file:.env[.properties]"
  
  # DB Migration
  flyway:
    enabled: true
    locations: classpath:db/migration
  
  # JPA
  jpa:
    open-in-view: false
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect



  # Batch
  batch:
    job:
      enabled: false
    jdbc:
      initialize-schema: always

  # Redis
  data:
    redis:
      host: ${SPRING_DATA_REDIS_HOST:localhost}
      port: 6379

dart:
  api-key: ${DART_API_KEY}

data-go:
  service-key: ${DATA_GO_SERVICE_KEY}

management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      show-details: always

---
spring:
  config:
    activate:
      on-profile: local
  cloud:
    config:
      enabled: false

  # Datasource
  datasource:
    url: jdbc:mysql://localhost:3307/stock_finance?serverTimezone=Asia/Seoul&characterEncoding=UTF-8
    username: finance_user
    password: finance_pass
    batch:
      url: jdbc:mysql://localhost:3309/stock_batch?serverTimezone=Asia/Seoul&characterEncoding=UTF-8
      username: batch_user
      password: batch_pass

eureka:
  client:
    enabled: false

services:
  stock-corp:
    url: http://localhost:8081
  stock-price:
    url: http://localhost:8083

---
spring:
  config:
    activate:
      on-profile: prod

  # Datasource
  datasource:
    url: ${STOCK_FINANCE_DB_URL:jdbc:mysql://localhost:3307/stock_finance?serverTimezone=Asia/Seoul&characterEncoding=UTF-8}
    username: ${FINANCE_DB_USER:finance_user}
    password: ${FINANCE_DB_PASSWORD:finance_pass}
    batch:
      url: ${STOCK_BATCH_DB_URL:jdbc:mysql://localhost:3309/stock_batch?serverTimezone=Asia/Seoul&characterEncoding=UTF-8}
      username: ${BATCH_DB_USER:batch_user}
      password: ${BATCH_DB_PASSWORD:batch_pass}

eureka:
  client:
    enabled: true
    service-url:
      defaultZone: http://${EUREKA_USER:admin}:${EUREKA_PASSWORD:1234}@stock-discovery:8761/eureka

services:
  stock-corp:
    url: http://stock-corp:8081
  stock-price:
    url: http://stock-price:8083