server:
  port: 8082

spring:
  application:
    name: stock-finance
  profiles:
    active: local
  datasource:
    url: jdbc:mysql://localhost:3307/stock_finance?serverTimezone=Asia/Seoul&characterEncoding=UTF-8
    username: user
    password: password
    jpa:
      hibernate:
        ddl-auto: validate
  
  eureka:
    client:
      service-url:
        defaultZone: http://localhost:8761/eureka
  