server:
  port: 8083

spring:
  application:
    name: stock-stock
  profiles:
    active: local
  datasource:
    url: ${MYSQL_URL:jdbc:mysql://localhost:3308/stock_stock?serverTimezone=Asia/Seoul&characterEncoding=UTF-8}
    username: ${MYSQL_USER:user}
    password: ${MYSQL_PASSWORD:password}
  jpa:
    hibernate:
      ddl-auto: validate

eureka:
  client:
    service-url:
      defaultZone: ${EUREKA_URL:http://localhost:8761/eureka}

data-go:
  service-key: ${DATA_GO_SERVICE_KEY}